body {
    background-color: aquamarine;
    display:flex;
}

Section {
    background-color: blueviolet;



    display: inline-block;
vertical-align: top;
   
box-sizing: border-box;
Width:100px;
    height: 200px;
    padding:20px;
    border: 10px solid black;
    margin:30px;
}
